<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SnowLing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C55ACFFC1DBDF05600A44281</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C55AD0151DBDF05600A44281</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C55AD0201DBDF05600A44281</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
